@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;0,900;1,400;1,700&display=swap');

/* PANEL */

table {
    margin: 50px auto;
}

.cart-items {
    width: 100%;
}

.product-img {
    max-width: 80px;
    margin: 20px 60px;
}

th {
    text-align: left;
    font-size: 21px;
    height: 60px;
}

.product-th, .quantity-th {
    text-align: center;
}

.name {
    width: 400px;
}

.stock {
    text-align: center;
    margin: 0 60px;
    font-size: 18px;
    border: 1.5px solid rgb(226, 226, 226);
}

.stock:focus {
    outline-style: double;
}

.price {
    margin-right: 10px;
    font-size: 17px;
}

td {
    border-top: 1.5px solid rgb(226, 226, 226);
}

/* SAVE BUTTON */

.save {
    width: 100%;
    margin-top: 60px;
}

.save input {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 160px;
    border: none;
    color: white;
    background-color: #ff9900;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

.save input:hover {
    width: 220px;
    background-color: #ffa620;
    transition: .3s;
}

.succ {
    background-size: 16px;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: center;
    padding-left: 24px;
    color: rgb(0, 202, 0);
    background-image: url(images/icons/succ.png);
}

form {
    text-align: center;
}

/* TOP SCROLL BUTTON */

.top {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #ff9900;
    color: white;
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
    line-height: 45px;
    user-select: none;
    cursor: pointer;
}